  <div style="margin-top: 35px; padding-top: 20px; border-top: 1px solid rgba(255,255,255,0.1); font-size: 12px; color: #a1a1aa; text-align: center;">
    2026 &copy; Trakev ID.<br>
    <%=translation.templates.email.base_email.content01%>
  </div>
